{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="chrome">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>蔵書管理システム -ページは存在しません</title>
</head>
<body style="background-image: url({% static 'pictures/like_note2.png' %});">>
<h1>404:Not Found</h1>
<p>指定されたurlは存在しません</p>
<a href="http://127.0.0.1:8000/registration/home">蔵書管理システムホームに戻る</a>
</body>
</html>