{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="chrome">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>蔵書管理システム -{% block title %}sample{% endblock title%}</title>
</head>
<body>
    <header id = header>
    <h1><a id = "title" href="home" style="color:#000;text-decoration:none">蔵書管理システム</a></h1>
    <ul>
    <li><a href="/registration/regist" style="color:#000;text-decoration:none" class = "menu">登録ページ</a></li>
    <li><a href="/registration/retur" class="menu" style="color:#000;text-decoration:none">返却用ページ</a></li>
    <li><a href="/registration/book_list" class="menu" style="color:#000;text-decoration:none">蔵書リスト</a></li>
    <li><a href="/registration/touroku" class="menu" style="color:#000;text-decoration:none">蔵書登録</a></li></ul></header>
    <div class = "conteiner" id = conteiner>
    {% block content %}
    {{ content }}
    {% endblock content %}</div>
</body>
</html>