<!--base.htmlをもととして使うための宣言-->
{% extends "base.html" %}
<!--変化させるタイトル-->
{% block title%}
蔵書リスト
{% endblock title%}
<!--base.htmlの対応部分に入れるための block content する-->
{% block content %}
<!--しばらくTDNhtml-->
<div>
    <div class="naraberu">
    <div class="tablese">
    <h3 class="name" style="width:123px;">蔵書リスト</h3>
        <p>ここにはラボ内にある本(借りられていないもの)をまとめています</p>
    <table border="1" class = "table">
        <thead>
        <tr>
            <th>本の名前</th>
        </tr>
        </thead>
        <thead>
        <!--renderで渡された辞書をforに入れて使う-->
        {% for books in In_lab %}<!--渡されたIn_labは辞書のリストなのでforに入れると辞書になる-->
        <tr class="tables">
            <th>{{ books.book }}</th><!--booksのなかのkeyがbookなものを取り出す-->
        </tr>
        {% endfor %}<!--for終了-->
        </thead>
    </table>
    </div></div>
</div>
<!--endblock content する-->
{% endblock content %}
