{% extends "base.html" %}
{% block title%}
蔵書リスト
{% endblock title%}
{% block content %}
<div>
    <div class="naraberu">
    <div class="tablese">
    <h3 class="name" style="width:123px;">蔵書リスト</h3>
        <p>ここにはラボ内にある本(借りられていないもの)をまとめています</p>
    <table border="1" class = "table">
        <thead>
        <tr>
            <th>本の名前</th>
        </tr>
        </thead>
        <thead>
        {% for books in In_lab %}
        <tr class="tables">
            <th>{{ books.book }}</th>
        </tr>
        {% endfor %}
        </thead>
    </table>
    </div></div>
</div>
{% endblock content %}
