<!--base.htmlをもととして使うための宣言-->
{% extends "base.html" %}
<!--変化させるタイトル-->
貸出登録ページ
{% endblock title %}
<!--base.htmlの対応部分に入れるための block content する-->
{% block content %}
<!--
これにコメントアウトするのは心が折れたからほかのファイル参考にして、どうぞ
-->
<h2 class="name" style="width: 180px">貸出登録ページ</h2><div>
<table class=form>
<form action="" method="POST">
    {% csrf_token %}
    <tbody>
        <tr>
        <td>
        {{form.book.label}}
        {{ form.book }}</td>
        </tr>
        {% if error %}
        <tr><td class="error">!!!error : その本は存在しません!!!</td></tr>
        {% endif %}
        {% if error_resrva %}
        <tr><td class="error">!!!error : その本は予約されています !!!</td></tr>
        {% endif %}
        <tr>
            <td>
            {{form.user.label}}
            {{ form.user }}</td>
        </tr>
        <tr>
            <td>
            {{form.mail.label}}
            {{ form.mail }}</td>
        </tr>
    </tbody>
    <tr>
        <td><input type="submit" value="借りる">

        </td>
    </tr>
</form>
</table>
<div>
    <form action="" method="post">
    <table class="form">
        {% csrf_token %}
        <tbody>
            <tr>
                <td>
                    {{ form2.books_search.label }}
                    {{ form2.books_search }}
                </td>
                <td><input type="submit" value="検索"></td>
            </tr>
        {% if search_error %}
        <p>!!!error:その文字列を含む本はデータベースにありません!!!</p>
        {% endif %}
        </tbody>
    </table>
    </form>
</div>
<div>
    {% if search %}
    <table border="1" class = "table">
        <h4>検索リスト</h4>
        <tbody>
                {% for search in search_result %}
            <tr>
                <th>
                    {{ search.search_book }}
                </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>
</div>
{% endblock content %}