<!--base.htmlをもととして使うための宣言-->
{% extends "base.html" %}
<!--変化させるタイトル-->
{% block title%}
蔵書返却ページ
{% endblock title%}
<!--base.htmlの対応部分に入れるための block content する-->
{% block content %}
{% if error %}
<script>alert('その本は貸し出されていません')</script>
{% endif %}
<h2 class="name" style="width: 178px">蔵書返却ページ</h2><div><div>
{% if borrow %}
<table class=form>
<form action="" method="POST"><!--methodはpostに-->
    {% csrf_token %}<!--formつくるときいれないとエラー吐く-->
    <tbody>
        <tr><!--viewで定義したformのなかのbookを使う-->
            <!--.labelはform.pyで定義したlabelをhtmlに出力する-->
            <td>{{form.book.label}}</td>
            <td>{{form.book}}</td>
        </tr>
    </tbody>
    <tr><td><input type="submit" value="返す"></td></tr>
</form></table>
    <table border="1" class = "table">
        <tbody>
        <tr>
            <th>あなたが現在借りている本</th>
        </tr>
        {% for book in borrowing %}
        <tr>
            <th>{{ book.book }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if not borrow %}
<p class="form">現在あなたは本を借りていません</p>
{% endif %}
</div>
{% endblock content %}<!--endblock content する-->