{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>登録ページ</h1><div class="form">
<form action="" method="post" class="form" style="width:auto !important;">
    <table>
    {% csrf_token %}
        <tr><td>{{form.username.errors}}</td></tr>
    <tr><td>
    {{form.username.label}}
        {{ form.username }}</td></tr>
        <tr><td>{{form.enter_password.errors}}</td></tr>
    <tr><td>
        {{form.enter_password.label}}
        {{form.enter_password}}
    </td></tr>
        <tr><td>{{form.retype_password.errors}}</td></tr>
    <tr><td>
        {{form.retype_password.label}}
        {{form.retype_password}}
    </td></tr>
        <tr><td>{{form.email.errors}}</td></tr>
        <tr><td>{{form.email.label}}
        {{form.email}}</td></tr>
        <tr><td>{{ form.Discord_ID.errors }}</td></tr>
        <tr>
            <td>
                {{form.Discord_ID.label}}
                {{form.Discord_ID}}
            </td>
        </tr>
    </table>
<input type="submit" value="登録">
</form>
    <div>
<a href= "{% url 'regist:login' %}">ログイン</a></div></div>
<div><a href="/accounts/discord/login" style="background-color: #505050 !important;color:#FFF;text-decoration:none;padding:10px;">discordでログイン<img style="width:40px; height:40px;" src="{% static 'pictures/discord.jpg' %}"></a> </div>
{% endblock content %}