#header{
    background-color: coral;
    height: 20px;
    padding: 10px 20px 25px 5px;
    border: 30px 0px 20px 0px;
    margin: auto;
    float: top;
}
body{
    margin: 0px;
    background-image: url(https://www.pakutaso.com/shared/img/thumb/171030ell_DSC1941_TP_V.jpg);
}
.name{
    float: top !important;
    background-color: #ffffdc !important;
    margin:10px !important;
    background-image: none !important; 
    width: 230px !important;
    height: auto;
    border-radius: 10px;
}
.form{
    background-color: #ffffdc !important;
    margin:10px !important;
    background-image: none !important; 
    float: left;
    width: auto !important;
    height: auto;
    border-radius: 10px;
}
#title{
    padding: 0px;
    margin: 0px;
}
.table{
    background-color: wheat 
}
.name_home{
    float: top !important;
    background-color: #ffffdc !important;
    margin:10px !important;
    background-image: none !important; 
    width: 270px !important;
    height: auto;
    border-radius: 10px;
}
a{
    float: left !important;
}
.menu{
    margin:0px 20px;
}